
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    opacity: 0;
    animation: fadein 1.5s ease-in forwards;
}

@keyframes fadein{
    100%{
        opacity: 1;
    }
}

.container{
    font-family: 'Poppins', sans-serif;
    

}

.wrap{
    background-image: url(./images/newLibrary.avif);
    background-position: center;
    height: 100dvh;
    width: 90%;
    position: fixed;
    z-index: -1;
    margin-left: 5%;
    top: 100px;
}

header{
    height: 80px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
}
header h1{
    margin-left: 20px;
}

.bookLog{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    
}

.bookShelf{
    display: flex;
    
}

.bookShelfBook{
    
    border-radius: 5px;
    background-image: url(./images/leatherfinal.jpg);
    background-size: cover;
    width: 30px;
    border: solid black 2px;
    margin-top: 45px;
    transform: rotate(180deg) translateY(-110px);
    transform-origin: top;
    box-shadow: inset 0px 0px 10px 5px black;
    overflow: scroll;
}

.bookShelfBookTitle{
    color: white;
    transform: rotate(90deg);
    font-size: 10px;
    margin-top: 20px;
    text-shadow: 0px 0px 50px white ;
    
    }

  
.bookShelfContainer{
    color: white;
    height: 155px;
    width: 80%;
    margin-left: 10%;
    top: 150px;
    background-image: url(./images/woodBG10.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-left: 5px;
    position: fixed;
    z-index: 100;
    box-shadow:0 2px 10px 2px orange, 0 5px 10px 2px white ;
}
.shelfwords{
    color: #fff6a9;
    position: absolute;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    animation: flicker 2s infinite;
    font-family: "Sacramento", cursive;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

@keyframes flicker {

   0%{
    text-shadow: none;
   }
   25%{text-shadow: white;
    
   }
   100%{
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;}

}


.shelf{
    display: block;
    height: 10px;
    width: 84%;
    margin-left: 8%;
    background-image: url(./images/woodBG10.jpg);
    box-shadow:0 5px 20px 5px orange, 0 5px 20px 1px white ;
    position: fixed;
    z-index: 100;
}

.bookLog :nth-child(n){
    text-align: center;
}
.library{
    margin-top: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    
    
}

.book{
    padding-top: 30px;
    display: flex;
    text-align: center;
    background-image: url(./images/newbook-fotor-bg-remover-2024011520172.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    height: 150px;
    width: 300px;
    font-size: 10px;
    margin-top: 40px;
    font-family: 'Pacifico', cursive;
    justify-content: space-evenly;
    margin-left: 20px;
}

.leftSide{

}
.rightSide{
    width: 100px;
}
input{
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
}

input[type="text"]{
    
    display: block;
   margin-left: auto;
   margin-right: auto;
}

input[type="checkbox"]{

    display: inline;
    transform: translate(7px,7px);
    margin-bottom: 10px;
    border: solid bisque 2px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
}

input[type="date"]{
    display: block;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(247, 247, 247, 0.67);
    color: black;
    border: solid black 3px;
    margin-top: 0px;
    font-size: 10px;
    cursor: pointer;
}

button[type="submit"]{

    margin-top: 30px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: lawngreen;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.remove{
    background-color:red;
    color: white;
    width: fit-content;
    padding: 5px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    transform: translate(-160px,0px);
    cursor: pointer;
    border-radius:10px;
    font-size: 7px;
    position: absolute;
}

.book input[type="date"]{
    display: block;
    width:100px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(247, 247, 247, 0.67);
    color: black;
    border: solid black 3px;
    margin-top: 0px;
    font-size: 8px;
    cursor: pointer;
}

.removeElement{

    background-color: red;
    width: 20px;
    transform: translate();
    cursor: pointer;
}


.add{
    background-color: black;
    color: white;
    position: fixed;
    top: 80dvh;
    right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    cursor: pointer;
    font-size: 50px;
    border: 6px double white;
    
    
}
.addBookElement{
position: fixed;
height: 100vh;
width: 100%;
top: 0;
display: flex;
justify-content: center;
align-items: center;
transform: scale(0);
transition: 0.5s ease;
z-index: 200;
}
#formsubmit{
    
    
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: rgba(13, 11, 11, 0.729);
    color: white;
    padding: 20px;
    border-radius: 20px;
    
    
}

.addbookinput{
    padding: 10px;
    border-radius: 10px;
    border: none;
    border-bottom: solid 3px black;
    
    
}
.addNewBook{
    width: 100px;
    place-self: center;
    border-radius: 20px;
}
.visible{
    transform: scale(1);
    
}

@media screen and (max-width:900px){


    .library{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width:620px){


    .library{
        grid-template-columns: repeat(1,1fr);
    }
    
}