
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Special+Elite&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    opacity: 0;
    animation: fadein 1.5s ease-in forwards;
    background-color: white;
}

@keyframes fadein{
    100%{
        opacity: 1;
    }
}

.container{
    font-family: 'Poppins', sans-serif;
    

}

.wrap{
    background-image: url(./images/newLibrary.avif);
    background-position: center;
    height: 100dvh;
    width: 90%;
    position: fixed;
    z-index: -1;
    margin-left: 5%;
    top: 100px;
}

header{
    text-shadow: 0px 0px 10px #ff8d00;
    height: 80px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    position: fixed;
    width: 90%;
    margin-left: 5%;
    top: 0;
    background-image: url(./images/newLibrary.avif);
    z-index: 200;
}

.libLogo{
    margin-left: 5px;
    background-color: yellow;
    background-color: rgba(255, 255, 255, 0.036);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.163);
    height: 80%;
    display: flex;
    align-items: center;
}

.libLogo span{
    
    font-size: 12px;
    align-self: flex-start;
}

.logtitle{
    text-shadow: 0px 0px 10px #ff8d00;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    
}

.bookLog{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50% 50%;
    align-items: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.036);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.163);
}

.wrapperforicon{
    width: 100px;
    display: flex;
    justify-content: center;
}

.fa-solid{
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.drop{
    color:white;
    position: absolute;
    font-size: 20px;
    list-style: none;
    background-color: rgba(247, 247, 247, 0.488);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100px;
    text-align: center;
    height: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    transition: all .3s ease;
    z-index: 900;
    pointer-events: none;
    margin-left: 0;
    margin-top: 55px;
    opacity: 0;
}

.drop h6{
    cursor: pointer;
    
    
}

.dropdown{
    opacity: 1;
    pointer-events: all;
}

.bookShelf{
    display: flex;
}

.bookShelfBook{
    
    border-radius: 5px;
    background-size: cover;
    width: 30px;
    border: solid black 2px;
    margin-top: 45px;
    transform: rotate(180deg) translateY(-110px);
    transform-origin: top;
    box-shadow: inset 0px 0px 10px 2px black;
    overflow: scroll;
    transition: all .2s ease;
}

.bookShelfBook:hover{
    border-color: white;
    transform: scale(1.1) rotate(180deg) translateY(-100px);
    z-index: 10;
    box-shadow:0 2px 10px 2px orange, 0 5px 10px 2px white ;
}


.bookShelfBookTitle{
    color: white;
    transform: rotate(90deg);
    font-size: 10px;
    margin-top: 20px;
    text-shadow: 0px 0px 50px white ;
    
    }

  
.bookShelfContainer{
    color: white;
    height: 155px;
    width: 80%;
    margin-left: 10%;
    top: 150px;
    background-image: url(./images/woodBG10.jpg);
    background-size: cover;
    border-radius: 10px;
    padding-left: 5px;
    position: fixed;
    z-index: 100;
    box-shadow:0 2px 10px 2px orange, 0 5px 10px 2px white ;
}
.shelfwords{
    color: #fff6a9;
    position: absolute;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    animation: flicker 3s infinite;
    font-family: "Sacramento", cursive;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
}

@keyframes flicker {

   0%{
    text-shadow: none;
   }
   25%{text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;}
        
    75%{
        text-shadow: none;
    }
   
   100%{
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;}

}


.shelf{
    display: block;
    height: 10px;
    width: 84%;
    margin-left: 8%;
    background-image: url(./images/woodBG10.jpg);
    box-shadow:0 5px 20px 5px orange, 0 5px 20px 1px white ;
    position: fixed;
    z-index: 100;
}

.bookLog :nth-child(n){
    text-align: center;
}
.library{
    margin-top: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    
}

.book{
    padding-top: 25px;
    background-image: url(./images/newbook-fotor-bg-remover-2024011520172.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    height: 150px;
    width: 300px;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 40px;
    justify-content: space-evenly;
    transition: all 0.5s ease;  
    font-size: 10px;
    display: flex;
    align-items: center;
    
    
}

.leftSide {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
   background-color: rgba(255, 255, 255, 0.079);
   backdrop-filter: blur(5px);
   width: fit-content;
   border-radius: 30px;
   text-align: center;
   font-style: italic;
   font-family: 'Sacremento', sans-serif;
}

.leftSide h3{
    border: solid black 2px;
}


.book:hover{

    
    z-index: 300;
}

@keyframes zoom {
    100%{
        transform: scale(1);
    }
}


input{
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
}

input[type="text"]{
    
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   background: none;
   border: none;
   outline: none;
   border-radius: 0;
   border-bottom: 2px solid black;
}

input[type="checkbox"]{

    display: inline;
    transform: translate();
    border: solid bisque 2px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    vertical-align: text-bottom;
    margin-left: 10px;
   
}

input[type="date"]{
    display: block;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    color: black;
    border: solid black 3px;
    margin-top: 0px;
    cursor: pointer;
    backdrop-filter: none;
}
#bookDate{
    height: 30px;
}

button[type="submit"]{
    display: block;
    margin-top: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: lawngreen;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.remove{
    
    color: white;
    width: fit-content;
    padding: 5px;
    background-color: #ff0000;
    transform: translate(80px,-100px);
    cursor: pointer;
    border-radius:10px;
    font-size: 8px;
    position: absolute;
    border: solid #ff8d00 3px;
   
}


.book input[type="date"]{
    display: block;
    width:100px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(247, 247, 247, 0.67);
    color: black;
    border: solid black 3px;
    margin-top: 0px;
    font-size: 8px;
    cursor: pointer;
}

.removeElement{

    background-color: red;
    color: white;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    width: 20px;
    transform: translate(50px,-390px);
    cursor: pointer;
    border-radius: 3px;
}


#plus{
    display: block;
    cursor: pointer;
    position: fixed;
    top: 85dvh;
    color: white;
    left: 85%;
    cursor: pointer;
    background-color: none;
    border-radius: 50px;
    border: double white 3px;
    height: 50px;
    width: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all .3s ease-in;
    z-index: 400;
}

#plus:hover{
    transform: rotate(360deg) scale(1.2);
    box-shadow:0 0px 20px 10px orange, 0 0px 10px 5px white ;
    
}
.addBookElement{
position: fixed;
height: 100vh;
width: 100%;
top: 0;
display: flex;
justify-content: center;
align-items: center;
transform: scale(0);
transition: 0.5s ease;
z-index: 201;
font-family: 'Special Elite', system-ui;

}
#formsubmit{
    
    padding-top: 70px;
    position: relative;
    font-weight: bolder;
    width: 350px;
    height: 450px;
    text-align: center;
    color: black;
    border-radius: 20px;
    background-image: url(./images/klipartz.com.png);
    background-position: center;
    background-size: cover;
    transform: scale(1.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.addbookinput{
    padding: 10px;
    border-radius: 10px;
    border: none;
    border-bottom: solid 3px black;
    
}
.addNewBook{
    width: 100px;
    place-self: center;
    border-radius: 20px;
}
.visible{
    transform: scale(1);
    
}

@media screen and (max-width:900px){


    .library{
        grid-template-columns: repeat(2,1fr);
    }
    #icon .drop{
      
    }
    
}

@media screen and (max-width:620px){


    .library{
        grid-template-columns: repeat(1,1fr);
    }
    .logtitle{
        font-size: 12px;
    }

    #plus{
        left: 80dvw;
    }

    #icon{
        margin-right: 5px;
    }

    #icon .drop{
        
    }
    
}

@media screen and (max-width:620px){
    #icon .drop{
        position: absolute;
        height: 90dvh;
        width: 90dvw;
        left: 0%;
        font-size: 50px;
        color: black;
        z-index: 10;
    }

    
}