
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

.body{
    
}

.container{
    width: 100%;
    height: 100dvh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

header{
    
    color: white;
    background-color: black;
    display: flex;
}
header h1{
    margin-left: 20px;
}
.library{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.book{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(./images/Ancient_Open_Book_PNG_Transparent_Clipart.png);
    background-size:cover;
    background-repeat: no-repeat;
    color: black;
    height: 200px;
    width: 300px;
    font-size: 10px;
    margin-top: 40px;
}

input{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

input[type="text"]{
    
    display: block;
   margin-left: auto;
   margin-right: auto;
}

input[type="checkbox"]{

    display: inline;
    transform: translate(7px,7px);
    margin-bottom: 10px;
    border: solid bisque 2px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
}

input[type="date"]{
    display: block;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(247, 247, 247, 0.67);
    color: black;
    border: solid black 3px;
    margin-top: 5px;
    font-size: 10px;
    height: 20px;
    cursor: pointer;
}

button[type="submit"]{

    margin-top: 30px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: lawngreen;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.remove{
    background-color:red;
    color: white;
    width: fit-content;
    padding: 5px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    transform: translate(-15px,-20px);
    cursor: pointer;
    border-radius:10px;
    font-size: 7px;
}

.removeElement{

    background-color: red;
    width: 20px;
    transform: translate(340px);
    cursor: pointer;
}


.add{
    background-color: black;
    color: white;
    position: fixed;
    top: 80dvh;
    right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    border: 4px double white;
}

.addBookElement{
    color: white;
    background-color: rgba(46, 44, 43, 0.392);
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 400px;
    visibility: visible;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    visibility: hidden;
    backdrop-filter: blur(10px);
}

.addbookinput{
    padding: 10px;
    border-radius: 10px;
    border: none;
    border-bottom: solid 3px black;
    
    
}
.addNewBook{
    width: 100px;
    place-self: center;
    border-radius: 20px;
}
.visible{
    visibility:visible;
}

@media screen and (max-width:900px){


    .library{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width:620px){


    .library{
        grid-template-columns: repeat(1,1fr);
    }
    
}